
    <b>{{ username }}</b>&nbsp;|&nbsp;<a }>Logout</a> | <a
                href="https://www.google.com/drive" target="_blank">Upload Photos and Share</a> | <a
                href="https://sites.google.com/view/apps-books/home" target="_blank">Help!</a> |
    <a href="#" onclick="alert('When someone is hurting you or making you do something that is not right, Delete the offending user from your Friend List. This will block the user from chatting with you. Tell the person to stop or you will report him/her to the police.');">Bully Alert</a>
  </div>
  <h1 style="font-family:'Helvetica Neue', Arial, sans-serif;">ZedaH</h1>

<div class="container">
<h1>UPLOAD</h1>

                 
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}   
    {{ form.as_p }}
    <button>Submit</button>

<div class="row h-100 justify-content-center align-items-center"> 
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="overflow:scroll; height:400px;"> 
         
    
{% for eachItem in alldata %}
    {{ eachItem.name}}
    <img src="{{ eachItem.imageFile.url }}"alt="" srcset=""width="400px">
<br>
{% endfor %}

   </div>    
</div>  
</div> 
</form>

{% endblock %}