{% extends "base.html" %}
{% block title %}{{ username }}{% endblock %}
{% block content %}
{% load static %}
{% load convert %}
<script type="text/javascript" src="{% static 'zedahapp/js/jquery-3.4.1.min.js' %}"></script>

 
<!-- Bootstrap core CSS -->
<link href="{% static 'zedahapp/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'zedahapp/css/bootstrap-theme.min.css' %}" rel="stylesheet">
<!-- Custom styles for this template -->
<!-- Reload page automatically-->
<script>

  setInterval(function () {
            autoloadpage();

        }, 60000); // it will call the function autoload() after each 10 seconds.

        setInterval(function () {
            autoloadnotifications();
        }, 30000); // it will call the function autoload() after each 10 seconds.

        setInterval(function () {
            alert("You are using Zedah for one hour, please take a break.");
        }, 600000); // it will alert to take a break after 1 hour.

        setInterval(function () {
            autoloadfriendslist();
        }, 10000); // it will call the function autoload() after each 10 seconds.

        setInterval(function () {
            autoloadnews();
        }, 300000); // it will call the function autoloadnews() after each 30 minutes = 300000

        setInterval(function () {
            autoloadweather();
        }, 300000); // it will call the function autoloadnews() after each 30 minutes = 300000

        function autoloadpage() {
            $.ajax({
                url: "/home",
                success: function (data) {
                    var divUpload = $(data).find('#gotoupload').html();
                    $('#gotoupload').html(divUpload);
                }
            });
        }
        function autoloadpage() {
            $.ajax({
                url: "/home",
                success: function (data) {
                    var divMessages = $(data).find('#gotomessages').html();
                    $('#gotomessages').html(divMessages);
                }
            });
        }
        function autoloadnotifications() {
            $.ajax({
                url: "/home",
                success: function (data) {
                    var divMessages = $(data).find('#gotonotifications').html();
                    $('#gotonotifications').html(divMessages);
                }
            });
        }

        function autoloadfriendslist() {
            $.ajax({
                url: "/home",
                success: function (data) {
                    var divMessages = $(data).find('#gotofriendslist').html();
                    $('#gotofriendslist').html(divMessages);
                }
            });
        }

        function autoloadnews() {
        $.ajax({
            url: "{% static 'zedahapp/js/worldNews.xml' %}", //http://feeds.reuters.com/reuters/topNews
            type: 'GET',
            dataType: "xml",
            success: function(xml) {
                            $(xml).find('item').each(function(){
                                var link = $(this).find('link').text();
                                $(this).find("description").each(function(){
                                    var description = $(this).text();

                                    $('.vticker ul').append("<li>" + "<a href='#newsDiv' style='color:black;'>" + description + "</a><br/><a href='" + link + "' target='_blank'>reuters</a></li>");
                                });
                            });
                        }
        });
        $('.vticker ul').empty();
        }

        function autoloadweather() {
      		$.ajax({
      				url: '/home', //http://feeds.reuters.com/reuters/topNews
      				success: function (data) {
      						var divMessages = $(data).find('#weatherDiv').html();
      						$('#weatherDiv').html(divMessages);
      		}
      	});
      }
    </script>
    <script type="text/javascript">
          $(document).ready(function(){
          autoloadnews();
            var dd = $('.vticker').easyTicker({
              direction: 'up',
              easing: 'easeInOutBack',
              speed: 'slow',
              interval: 15000,
              height: 'auto',
              visible: 2,
              mousePause: 1,
              controls: {
                up: '.up',
                down: '.down',
                toggle: '.toggle',
                stopText: 'Stop !!!'
              }
            }).data('easyTicker');

            cc = 1;
            $('.aa').click(function(){
              $('.vticker ul').append('<li>' + cc + ' Triangles can be made easily using CSS also without any images. This trick requires only div tags and some</li>');
              cc++;
            });

            $('.vis').click(function(){
              dd.options['visible'] = 3;

            });

            $('.visall').click(function(){
              dd.stop();
              dd.options['visible'] = 0 ;
              dd.start();
            });
	          dd.options['visible'] = 0 //visible all items
          });
    </script>
    <style>
    .vticker{
      border: 1px solid gray;
      width: 400px;
    }
    .vticker ul{
      padding: 0;
    }
    .vticker li{
      list-style: none;
      border-bottom: 1px dashed darkgray;
      padding: 10px;
    }
    .et-run{
      background: gray;
    }
    .vticker ul li {
      background: #fafafa;
    }
    </style>

  <script>
  $(document).on("keydown", function(e) {
        if(e.ctrlKey && e.which == 46){
          window.location = "/home";
        }
      });


    </script>

<!-- Bootstrap core CSS -->
<link href="{% static 'zedahaapp/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'zedahaapp/css/bootstrap-theme.min.css' %}" rel="stylesheet">
<div class="container">
  <!--<img src="./images/profile/thumb/{{pic}}" width="50" style="vertical-align:middle;">-->
  <div>
    <b>{{ username }}</b>&nbsp;|&nbsp;<a }>Logout</a> | <a
                href="https://www.google.com/drive" target="_blank">Upload Photos and Share</a> | <a
                href="https://sites.google.com/view/apps-books/home" target="_blank">Help!</a> |
    <a href="#" onclick="alert('When someone is hurting you or making you do something that is not right, Delete the offending user from your Friend List. This will block the user from chatting with you. Tell the person to stop or you will report him/her to the police.');">Bully Alert</a>
  </div>
  <h1 style="font-family:'Helvetica Neue', Arial, sans-serif;">ZedaH</h1>

<div class="container">
<h1>UPLOAD</h1>

                 
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}   
    {{ form.as_p }}
    <button>Submit</button>

<div class="row h-100 justify-content-center align-items-center"> 
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" style="overflow:scroll; height:400px;"> 
         
    
{% for eachItem in alldata %}
    {{ eachItem.name}}
    <img src="{{ eachItem.imageFile.url }}"alt="" srcset=""width="400px">
<br>
{% endfor %}

   </div>    
</div>  
</div> 
</form>

{% endblock %}